<div class="logger">
  <div class="messages" id="loggerContent">
    <div *ngFor="let message of loggerService.messages">
      {{ message.date }} : <span [ngStyle]="{'color':message.color}">{{ message.content }}</span>
    </div>
  </div>
  <div *ngIf="this.loggerService.messages.length > 0">
    <button (click)="clear()" value="clear">Clear output</button>
  </div>
</div>
