<td style="width: 175px">{{video.title}}</td>
<td style="width: 175px">{{video.author}}</td>
<td style="width: 150px">{{video.album}}</td>
<td style="width: 100px">{{video.date}}</td>
<td>
  <input style="width: 425px" type="text" value="{{video.url}}" #url readonly>
  <button (click)="copyUrl(url)" class="copy" value="copy"></button>
  <button (click)="redirect()" class="redirect" value="redirect"></button>
  <button (click)="removeVideo()" class="remove"></button>
  <button (click)="slideUpdateForm(panel)" class="accordion">update ⤵</button>
</td>
<div style="padding-block-end: 10px" #panel class="panel">
  <form>
    <span>Title</span><input #title type="text" placeholder="new title...">
    <span>Author</span><input #author type="text" placeholder="new author...">
    <span>Album</span><input #album type="text" placeholder="new album...">
    <span>Date</span><input #date type="text" placeholder="new date...">
    <button (click)="updateVideo(title, author, album, date)">submit</button>
  </form>
</div>

