td {
  padding: 8px;
  overflow: hidden;
}

button.remove {
  background-image: url('../../assets/images/remove.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 31px;
  width: 27px;
  padding: 10px;
  border: 1px solid red;
}

button.redirect {
  background-color: transparent;
  background-image: url('../../assets/images/redirect.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 31px;
  width: 27px;
  padding: 10px;
  border: none;
}

button.accordion {
  transition: 1s;
}

.panel {
  padding: 8px;
  display: none;
  overflow: hidden;
}

span {
  padding-right: 10px;
  padding-left: 20px;
}
