#menu a {
  position: absolute;
  left: -110px;
  transition: 0.3s;
  padding: 15px;
  width: 120px;
  text-decoration: none;
  font-size: 20px;
  color: lightblue;
  border-radius: 0 5px 5px 0;
  background-color: black;
  border-style: solid;
  border-color: grey;
}

#menu a:hover {
  left: 0;
}

#home {
  top: 20px;
}

#videos {
  top: 100px;
}

#profile {
  top: 180px;
}

#about {
  top: 260px;
}
