<div id="menu" class="menu">
  <a href="#" id="home">Home</a>
  <a href="#" id="videos">Videos</a>
  <a href="#" id="profile">Profile</a>
  <a href="#" id="about">About</a>
</div>

<app-logger></app-logger>

<div style="padding-bottom: 100px">
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
</div>
<app-profile></app-profile>
