<input id="username" [(ngModel)]="profile.username" placeholder="username" [disabled]="isConnected" />
<input id="password" [(ngModel)]="profile.password" type="password" placeholder="password" [disabled]="isConnected" />
<button class="reveal" (mousedown)="reveal()" (mouseup)="hide()" value="reveal" [disabled]="isConnected" ></button>
<span style="margin-right: 100px"></span>

<button (mousedown)="signIn()" value="sign in" [disabled]="isConnected" >sign in</button>
<button (mousedown)="signUp()" value="createAccount" [disabled]="isConnected" >sign up</button>


<div *ngIf="isConnected === true">
  <input id="profile-key" style="width: 425px" type="text" value="{{ this.profile.key }}" #userInput readonly>
  <button class="copy" (mousedown)="copyInputMessage(userInput)" value="copy" ></button>
  <span style="margin-right: 100px"></span>

  <button (mousedown)="logOut()" value="logout" >logout</button>
  <input #changePassword type="password" placeholder="new password...">
  <button (mousedown)="updatePassword(changePassword)" value="updatePassword">change password</button>
  <button style="color: red; border-color: red" (mousedown)="deleteAccount()" value="deleteAccount" >delete account</button>

  <!-- padding -->
  <div style="height: 50px"></div>

  <div *ngIf="isConnected">
    <app-videos [profileKey]="profile.key">
    </app-videos>
  </div>

</div>
