.videos {
}

.video-list {
  height: 275px;
  overflow: auto;
}

table {
  width: 80%;
}

tr, th {
  border: 1px solid darkgrey;
  text-align: left;
}

tr:nth-child(even) {
  background-color: indigo;
}
