<div id="videos" class="videos">
  <div *ngIf="this.profileKey" style="padding-bottom: 10px">
    <div style="padding-block-end: 50px">
      <h1>Add a video</h1>
      <hr align="left" style="width: 80%">
      <app-video-add [profileKey]="profileKey"></app-video-add>
    </div>
    <div>
      <h1>Video list</h1>
      <hr align="left" style="width: 80%">
      <div class="video-list">
        <table style="border-collapse: collapse;">
          <tr *ngFor="let video of videoService.videoList">
            <app-video-unit [video]="video" [profileKey]="profileKey"></app-video-unit>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <button (click)="listVideos()">Reload list</button>
</div>
